body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

/** Header **/
#header-nav {
  background-color: darkgray;
  border-radius: 0;
  border-width: 1px;
  border-color: black ;
}
.navbar-brand {
  padding-top: 25px;
  margin-bottom: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END Header */



/* Main Content */

.heading h2 {       /* Our Menu */
  margin-bottom: 20px;
  width: 100%;
  text-shadow: 1px 1px 1px #222;
}
#box h3 {           /* Panipuri */
  width: 100%;
  padding-top: 16px;
  text-shadow: 1px 1px 1px #222;
}
#box {
  position: relative;
  padding: 0px 10px 0px 10px;
  margin: 0px 20px 25px;
  background-color: lightgray;
}

/* END Main Content */

/********** Mobile View **********/
@media (max-width: 767px) {

  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



