body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

/** Header **/
#header-nav {
  background-color: lightsalmon;
  border-radius: 0;
  border-width: 1px;
  border-color: black ;
}
.navbar-brand {
  padding-top: 25px;
  margin-bottom: 25px;
}
.navbar-brand h1 { /* Food LLC */
  font-family: 'Lora', serif;
  color: green;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: .75;
}
#nav-list {
  margin-top: 10px;
  background-color: 	rgb(236, 220, 76);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END Header */



/* Main Content */

.heading h2 {       /* Our Menu */
  margin-bottom: 20px;
  width: 100%;
  text-shadow: 1px 1px 1px #222;
}
#box h3 {           /* Panipuri */
  width: 100%;
  text-shadow: 1px 1px 1px #222;
}
#box {
  /*
  padding: 0px 10px 0px 10px;
  margin: 0px 20px 25px;
  */
  margin: auto;
    margin-bottom: 25px;
    padding: 18px;
  color: white;
  background-color: lightcoral;
}

/* END Main Content */

/********** Desktop and Tablet View **********/
/*
@media (min-width : 768px) {
  .navbar-toggle {
    opacity: 0;
  }
}

/********** Mobile View **********/
@media (max-width: 767px) {

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Food LLC */
    padding-top: 20px;
    font-size: 10vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  .separator {
    background-color: green;
    height: 1px;
    width: 50%;
  }
  .navbar-toggle {
    margin-bottom: 30px;
    opacity: .8;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Food LLC */
    padding-top: 5px;
    font-size: 10vw;
  }
  /* End Header */
  
  /* Home page */

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
